<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="O15iNvdCTq4FtD-7ycaJ0qp4bMwMjh1582pyjrGIc6c" />
    <title>Get Started with Festify</title>
    <link rel="stylesheet" href="../css/signin.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>

  </head>
  <body>
    <div class="main-container">
      <div class="sub-container">
        <div class="company-logo">
          <a href="/">
            <img
              src="../images/logo-event_management_v1.png"
              alt="404 company logo"
            />
          </a>
        </div>
        <div class="header-signup">
          <h1>Welcome back!</h1>
          <p>Sign in to continue your journey with Festify</p>
        </div>
        <div class="button-link">
          <a
            href="/oauth2/authorization/google"
          >
            <button class="google-signup">
              <img
                src="./images/7123025_logo_google_g_icon.png"
                alt="404 google logo"
                class="google-logo"
              />
              Continue with Google
            </button>
          </a>
        </div>

        <p>or</p>

        <form th:action="@{/perform_login}" method="post">
          <div class="form-content">
              <label for="email">Email</label>
              <input type="email" id="Email" name="email" autocomplete="email" required>
          </div>
          <div class="form-content">
              <label for="password">Password</label>
              <input type="password" id="password" autocomplete="new-password"  name="password" required>
          </div>
          <div class="remember-me">
            <label>
              <input type="checkbox" name="remember-me" /> Remember me
            </label>
          </div>
          
          <div class="create-account">
              <button>Sign In</button>
          </div>
          <div th:if="${param.error}" class="error">
            <p>Invalid username or password. Please try again.</p>
          </div>
        <div class="signin-page-redirect">
            <p>New to Festify? </p>
            <a href="./signup">Create an account!</a>
        </div>
      </div>
    </div>
  </body>
</html>
